@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* css variables */
:root {

    /* google font import */
    --mainfont: 'Poppins', sans-serif;

    /* generic content borders */
    --drkborder: 2px solid #000;
    --lgtborder: 2px solid #FFF;

    /* development component borders */
    --wireframe: 2px solid darkblue;
    --debugging: 2px solid darkred;
    --component: 2px solid limegreen;
}
/* body & html attributes */
body {
    background: rgb(224, 220, 220);
    font-family: var(--mainfont); /* set a main font for the webpage */
}

/* page wrapper */
.page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* section container */
section {
    /* set all content inside the sections to the center of the page */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* 
    user form component

    contains :
        form html element acting as the container for input & label elements
        a div element used to control the structure of the inner form elements
        a button element which has an event attached to validate & authenticate the form

*/
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 475px;
    padding: 0.5rem;
    border: var(--drkborder);
    border-radius: 10px;
}
.form-control {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label {
    font-size: 1.2rem;
    text-transform: capitalize;
}
input {
    height: 50px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}
.btn {
    margin: 2rem 1rem;
    height: 65px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #FFF;
    background: #000;
    border-radius: 10px;
    border: none;
}
h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* 
    itinerary list component

    contains :
        un-ordered list element acting as the wrapper
        an item element in which will house the text information data
        an info text element to write the form data to

*/
.list {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    list-style-type: none;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 250px;
    height: 250px;
    margin: 1rem;
    border: var(--drkborder);
    border-radius: 10px;
}
.info {
    margin-bottom: 0.5rem;
}


/* list editing properties */
.editing-items {
    border: 2px dotted red;
}